In [1]:
import pandas as pd

In [28]:
data=pd.read_csv("IceCream.csv")

In [29]:
data

     Temperature  Revenue
0           24.6      535
1           26.1      626
2           27.8      661
3           20.6      488
4           11.6      317
..           ...      ...
495         22.3      525
496         32.9      756
497         12.6      307
498         22.4      567
499         29.0      656

[500 rows x 2 columns]

In [32]:
independent=data[["Temperature"]]
independent

     Temperature
0           24.6
1           26.1
2           27.8
3           20.6
4           11.6
..           ...
495         22.3
496         32.9
497         12.6
498         22.4
499         29.0

[500 rows x 1 columns]

In [33]:
dependent=data[["Revenue"]]
dependent

     Revenue
0        535
1        626
2        661
3        488
4        317
..       ...
495      525
496      756
497      307
498      567
499      656

[500 rows x 1 columns]

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [41]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [42]:
weight=regressor.coef_
weight

array([[21.37666634]])

In [43]:
bais=regressor.intercept_
bais

array([46.38361299])

In [46]:
y_pred=regressor.predict(x_test)

In [47]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [48]:
result=r_score
result

0.9854044096226605

In [49]:
import pickle

In [61]:
filename="Finalized_SimpleLinear_Model.sav"

In [62]:
pickle.dump(regressor,open(filename,'wb'))

In [64]:
loaded_model=pickle.load(open(filename,'rb'))
loaded_model.predict([[15]])

C:\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[367.0336081]])